Flask
Flask-Assets
Flask-Login
Flask-SQLAlchemy
Flask-Migrate
SQLAlchemy
configobj
bcrypt
requests
python-ldap
pyotp
qrcode
dnspython
gunicorn
python3-saml
pyOpenSSL
pytz
cssmin
jsmin
Authlib
Flask-SeaSurf
bravado-core
lima
pytest
pytimeparse
PyYAML
Flask-SSLify
Flask-Mail
flask-session
psycopg2-binary
psycopg2>=2.7
